.button {
	color: white;
	margin: auto;
	text-align: center;
	background-color: rgb(66, 103, 178);
	width: 250px;
	padding:10px;
	margin-top: 10px;
	margin-bottom:10px;
	display: block;
	border-radius: 15px;
	cursor: pointer;
}
.button:hover {background-color: rgb(125, 143, 178)}

.button:active {
  background-color: rgb(125, 143, 178);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#game-buttons {
	height: 150px;
	margin-top: 50px;
}

#game-screen-pic {
	width: 250px;
}

#gameover-screen-pic {
	width: 250px;
}

.question-display-div {
	width: 80%;
	height: auto;
	border: 2px solid lightgray;
	border-radius: 2px;
	margin: 20px auto;
	padding: 20px;
	font-size:25px;
	background-color: rgb(233, 235, 238);
}

.score-display-div {
	text-align: center;
	width: 50%;
	height: 8rem;
	border: 2px solid lightgray;
	border-radius: 2px;
	margin: 40px auto;
	padding: 20px;
	font-size:40px;
	background-color: rgb(233, 235, 238);
}

.timer-display-div {
	text-align: center;
	width: 50%;
	height: 5rem;
	border: 2px solid lightgray;
	border-radius: 2px;
	margin: 25px auto;
	padding: 15px;
	font-size:40px;
	background-color: rgb(233, 235, 238);
}

#try-again {
	float: left;
	margin: 20px 0 0 25%;
	padding: 2rem;
	width: 20%;
}

#main-menu {
	float: right;
	margin: 20px 25% 0 0;
	padding: 2rem;
	width: 20%;
}
