.button {
	position:absolute
	color: white;
	margin: auto;
	text-align: center;
	background-color: rgb(66, 103, 178);
	width: 250px;
	padding:10px;
	margin-top: 10px;
	margin-bottom:10px;
	display: block;
	moz-border-radius: 15px;
 	-webkit-border-radius: 15px;
	cursor: pointer;
}
.button:hover {background-color: rgb(125, 143, 178)}

.button:active {
  background-color: rgb(125, 143, 178);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}