#page input#search {
	color: black;
	background-color: white;
	border: 2px solid darkgray;
	border-radius: 2px;
	text-align: left;
	min-width: 400px;
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 10px;
}

#trending-title {
	color: rgb(59, 89, 152);
	text-align: left;
	background: inherit;
	padding-top: 20px;
	padding-left: 50px;
	border-top: 2px solid lightgray;
}

.fb-like {
	height: 20px;
	width: 20px;
	float: right;
	margin: 5px;
}

.fb-share {
	height: 30px;
	width: 70px;
	float: right;
}

.trending-div {
	color: black;
	width: 80%;
	height: 11rem;
	border: 2px solid lightgray;
	border-radius: 2px;
	margin: 20px auto;
	padding: 2rem;
}
