#page input#search {
	background-color: white;
	border: 2px solid darkgray;
	border-radius: 2px;
	text-align: left;
	min-width: 400px;
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
}

#trending-title {
	color: rgb(59, 89, 152);
	text-align: left;
	padding: 20px 50px;
	border-top: 2px solid lightgray;
}

#trending {
	overflow-y: scroll;
	height: 60%;
}

.trending-quote {
	width: 80%;
	height: 11rem;
	border: 2px solid lightgray;
	border-radius: 2px;
	margin: 20px auto;
	padding: 2rem;
	background-color: rgb(233, 235, 238);
}

#submit-quote {
	background-color: rgb(66, 103, 178);
	display: block;
	width: max-content;
	padding: 5px;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid rgb(41, 72, 125);
	border-radius: 5px;
	color: white;
	text-align: center;
}
