#page input#search {
	background-color: white;
	border: 2px solid darkgray;
	border-radius: 2px;
	text-align: left;
	min-width: 400px;
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 10px;
}

#trending-title {
	color: rgb(59, 89, 152);
	text-align: left;
	background-color: inherit;
	padding: 20px 50px;
	border-top: 2px solid lightgray;
}

.trending {
	background-color: inherit;
	overflow-y: scroll;
	height: 75%;
}

.trending-quote {
	width: 80%;
	height: 11rem;
	border: 2px solid lightgray;
	border-radius: 2px;
	margin: 20px auto;
	padding: 2rem;
}

#submit-quote {
	background-color: rgb(59, 89, 152);
	display: block;
	padding: 10px;
	margin-left: 30px;
	margin-top: 10px;
	border: 2px solid darkgray;
	border-radius: 5px;
	color: white;
	text-align: center;
}
