#page input#search {
	color: black;
	background-color: white;
	border: 2px solid darkgray;
	border-radius: 2px;
	text-align: left;
	min-width: 400px;
	font-size: 1.1rem;
	margin: 200px 10px 10px 10px;
	padding: 10px;
}
