#wordmark {
	width: 350px;
}

fieldset {
	background-color: white;
}

input#username,
input#password {
	background-color: white;
	border: 2px solid darkgray;
	border-radius: 2px;
	text-align: left;
	min-width: 400px;
	font-size: 2rem;
	margin: 10px;
	padding: 5px;
}

#login-button {
	color: white;
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 2px;
	padding: 3px;
	font-size: 1.1rem;
	cursor: pointer;
}
