#page input#search {
	background-color: white;
	border: 2px solid darkgray;
	border-radius: 2px;
	text-align: left;
	min-width: 400px;
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 10px;
}

#left-column {
	float: left;
	width: 17%;
	min-width: 200px;
}

#filter-header	{
	text-align: center;
	background: white;
	border-bottom: 2px solid darkgray;
}

#filter-box {
	background-color: white;
	height: 350px;
	margin-left: 30px;
	margin-top: 50px;
	padding: 10px;
	border: 2px solid lightgray;
	border-radius: 2px;
}

.filter-check {
	float: right;
	margin-top: 5px;
}

.filter-label {
	width: 100%;
	float: left;
	color: inherit;
	margin-top: 10px;
	padding-top: 3px;
	border-top: 1px dashed lightgray;
}

.filter-text {
	float: left;
	background-color: white;
	border: 2px solid darkgray;
	width: 100%;
	margin-top: 10px;
}

.filter-label:nth-child(2) {
	border: 0;
}

#results {
	width: 80%;
	margin: auto;
	margin-bottom: 100px;
	overflow-y: scroll;
	max-height: calc(100% - 150px);
	padding: 2px;
}

table {
	background-color: rgb(233, 235, 238);
	width: 100%;
}

th, td {
	padding: 15px;
	font-size: 1.2rem;
	border-left: 1px solid white;
	width: 25%;
}

tr {
	outline: 2px solid gray;
}

th button {
	font-size: 1.2rem;
	cursor: pointer;
}

span#asc button, span#desc button {
	text-decoration: underline;
}

.hidden {
	display: none;
}
.hidden button, .hidden img {
	display: inherit;
}

#asc-up-arrow {
	position: relative;
	top: -10px;
	left: 5px;
}

#up-arrow {
	position: relative;
	top: -10px;
	left: 8px;
}

#desc-down-arrow {
	position: relative;
	top: 11px;
	left: -7px;
}

#down-arrow {
	position: relative;
	top: 11px;
	left: -10px;
}

#selected {
	margin-bottom: 30px;
}

#title-img {
	width: 70%;
}

.fb-like {
	height: 20px;
	width: 20px;
	float: right;
	margin: 5px;
}

.fb-share {
	height: 30px;
	width: 70px;
	float: right;
}

#per-page {
	float: left;
	font-size: 1.2rem;
	margin-left: 50px;
	position: absolute;
	bottom: 30px;
}

#per-page input {
	font-size: inherit;
}

#current-rpp {
	text-decoration: underline;
	font-size: 1.3rem;
}

#page-arrows {
	float: right;
	font-size: 1.2rem;
	position: absolute;
	bottom: 30px;
	right: 50px;
	white-space: pre;
}

.page-arrow {
	border: 1px solid gray;
	border-radius: 3px;
	padding: 3px;
	background-color: rgb(233, 235, 238);
}
