/* default */
* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	background-color: inherit;
	font-family: "Tahoma", "Lucida Grande";
}

header {
	color: white;
	background-color: rgb(59, 89, 152);
	width: 100%;
	height: 100px;
}

footer {
	width: 100%;
	height: 10px;
	font-size: 0.9rem;
	text-align: center;
	margin-top: 30px;
}

body {
	min-width: 1300px;
	background-color: rgb(233, 235, 238);
}

a {
	text-decoration: none;
	color: inherit;
}

#home-button {
	height: 95px;
	float: left;
}

#ribbon {
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

#facebook-logo {
	background-color: rgb(66, 103, 178);
	width: 50px;
	margin: 10px;
	float: right;
}

#login-link {
	margin-top: 10px;
	font-size: 1.5rem;
	float: right;
	color: white;
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 4px;
	padding: 10px;
	vertical-align: middle;
}

#user {
	margin-top: 10px;
	font-size: 1.5rem;
	float: right;
	color: white;
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 4px;
	padding: 10px;
	vertical-align: middle;
}

#gear {
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 4px;
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
	float: right;
}

#page {
	width: 60%;
	height: calc(100vh - 225px);
	min-height: 700px;
	min-width: 600px;
	text-align: center;
	border: 1px solid lightgray;
	border-radius: 2px;
	margin: 50px auto;
	background-color: white;
	padding: 2rem 0;
	position: relative;
}

#game-button {
	height: 90px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	border-left: 2px solid rgb(23, 35, 61);
}

#magnifying-glass {
	height: 46px;
	width: 46px;
	padding: 5px;
	position: relative;
	top: 10px;
	left: -5px;
	background-color: rgb(233, 235, 238);
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	background-image: url(../images/magnifying_glass.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
