/* default */
* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	background-color: rgb(233, 235, 238);
	font-family: "Tahoma", "Lucida Grande";
}

header {
	color: white;
	background-color: rgb(59, 89, 152);
	width: 100%;
	height: 100px;
}

footer {
	width: 100%;
	height: 10px;
	font-size: 0.9rem;
	text-align: center;
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: inherit;
	background-color: inherit;
}

#home-button {
	height: 95px;
	background-color: inherit;
	float: left;
}

#ribbon {
	background-color: inherit;
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

#facebook-logo {
	background-color: rgb(66, 103, 178);
	width: 50px;
	margin: 10px;
	float: right;
}

#login-link {
	margin-top: 10px;
	font-size: 1.5rem;
	float: right;
	color: white;
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 4px;
	padding: 10px;
	vertical-align: middle;
}

#user {
	margin-top: 10px;
	font-size: 1.5rem;
	float: right;
	color: white;
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 4px;
	padding: 10px;
	vertical-align: middle;
}

#gear {
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 4px;
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
	float: right;
}

#page {
	width: 60%;
	height: calc(100vh - 250px);
	min-height: 600px;
	min-width: 600px;
	text-align: center;
	border: 1px solid lightgray;
	border-radius: 2px;
	margin: 50px auto;
	background-color: white;
	padding: 2rem 0;
	position: relative;
}

#left-column {
	float: left;
	width: 17%;
	min-width: 200px;
}

#game-button {
	height: 100px;
	background-color: inherit;
	padding: 10px;
	margin-left: 10px;
	float: left;
	border-left: 2px solid rgb(23, 35, 61);
}

#filter-header	{
	text-align: center;
	background: white;
	border-bottom: 2px solid darkgray;
}

#filter-box {
	background-color: white;
	height: 310px;
	margin-left: 30px;
	margin-top: 50px;
	padding: 10px;
	border: 2px solid lightgray;
	border-radius: 2px;
}

#magnifying-glass {
	height: 46px;
	padding: 5px;
	position: relative;
	top: 16px;
	left: -5px;
	background-color: rgb(233, 235, 238);
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.filter-check {
	float: right;
	margin-top: 5px;
}

.filter-label {
	width: 100%;
	float: left;
	color: inherit;
	background-color: inherit;
	margin-top: 10px;
	padding-top: 3px;
	border-top: 1px dashed lightgray;
}

.filter-text {
	float: left;
	background-color: white;
	border: 2px solid darkgray;
	width: 100%;
	margin-top: 10px;
}

.filter-label:nth-child(2) {
	border: 0;
}

.fb-like {
	height: 20px;
	width: 20px;
	float: right;
	margin: 5px;
}

.fb-share {
	height: 30px;
	width: 70px;
	float: right;
}
