#submit-title {
	color: rgb(59, 89, 152);
	text-align: left;
	background-color: inherit;
	padding: 20px 50px;
	border-bottom: 2px solid lightgray;
}

.submit-label {
	color: rgb(59, 89, 152);
	text-align: left;
	background-color: inherit;
	padding: 20px 50px;
}

#submit-form {
	background-color: white;
}

#submit-fields {
	background-color: inherit;
	width: 45%;
	float: left;
}

#submit-radio {
	background-color: inherit;
	float: right;
	margin-top: 60px;
	width: 35%;
}

input[type="text"] {
	background-color: white;
	border: 2px solid darkgray;
	border-radius: 2px;
	text-align: left;
	width: 80%;
	margin: 10px 80px;
	padding: 5px;
}

input[type="radio"] {
	float: left;
	margin-top: 13px;
	margin-right: 10px;
}

.radio-label {
	float: left;
	background-color: inherit;
	margin-top: 10px;
}

#submit-button {
	color: white;
	background-color: rgb(66, 103, 178);
	border: 1px solid rgb(41, 72, 125);
	border-radius: 2px;
	padding: 10px;
	font-size: 1.1rem;
}
